<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
hello thymeleaf!
<br>
<!--取值-->
<p th:text="${hello}"></p>
<!--循环取值-->
<!--<p th:each="str:${list}" th:text="${str}"></p>-->
<p th:each="str:${list}">
    <tr th:text="${str}"/>
    <input th:text="${str}" th:value="${str}"/>
</p>
<!--判断-->
<p th:if="1==1">你好</p>
 <!--<input type="checkbox" th:text="(${checked} =='0')?'checked':''" th:checked="${checked}=='1'"/>-->
  <input type="checkbox" th:checked="${check}=='1'"/>
<!--传值给JavaScript-->
<a th:href="'javascript:f(\''+${hello}+'\');'">点我</a>
<script language="JavaScript">
function f(hello) {
    alert("你好"+hello);
}
</script>
<!--页面引入-->
<div th:include="index1::indepppp">页面引入</div>

</body>
</html>